<?php
/**
 * @see Drip_Connect_Block_Adminhtml_System_Config_Sync_Orders
 */
?>
<script type="text/javascript">
//<![CDATA[
    function syncOrders() {

        var elem = $('<?php echo $this->getHtmlId() ?>');
        var res = $('sync_orders_state');

        elem.addClassName('disabled').setAttribute('disabled', 'disabled');

        params = {
            account_id: '<?=$this->getAccountId()?>',
            store_id: '<?=$this->getStoreId()?>',
        };

        new Ajax.Request('<?php echo $this->getAjaxUrl() ?>', {
            parameters: params,
            onSuccess: function(response) {
                var result = '';
                response = response.responseText;
                if (response == <?=Drip_Connect_Model_Source_SyncState::QUEUED?>) {
                    res.removeClassName('error');
                    result = '<?=Drip_Connect_Model_Source_SyncState::getLabel(Drip_Connect_Model_Source_SyncState::QUEUED)?>';
                } else {
                    res.addClassName('error');
                    result = '<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Data send error')) ?>';
                }
                res.update(result);
            },
            onFailure: function(){
                res.addClassName('error');
                result = '<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Data send error')) ?>';
                elem.removeClassName('disabled')
                    .removeAttribute('disabled');
            }
        });
    }
//]]>
</script>
<button onclick="javascript:syncOrders(); return false;" type="button" id="<?php echo $this->getHtmlId() ?>"
<?php if (!$this->isSyncAvailable()) { ?> disabled="disabled" class="disabled" <?php } else { ?> class="scalable" <?php }?>>
    <?php echo $this->escapeHtml($this->getButtonLabel()) ?>
</button> &nbsp; <b id="sync_orders_state"><?= Drip_Connect_Model_Source_SyncState::getLabel(Mage::getStoreConfig('dripconnect_general/actions/sync_orders_data_state', Mage::app()->getRequest()->getParam('store'))); ?></b>
